@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Hind+Madurai&family=Pacifico&family=Rowdies:wght@300&family=Zilla+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}
